.ion-margin{
    margin-top: 50px;
    margin-bottom: 500px;
}

.movie{
    width: 140px;
    height: 180px;
    position: relative;
    top: 40px;
    left: 0px;
    border-radius: 15px;
}

.title{
    position: relative;
    top: -20px;
    left: 132px;
    color: #FFB660;
    font-size: 19px;
}

.info{
    position: relative;
    top: -30px;
    left: 110px;
    color: #7e7e7e;
    font-size: 15px;
}

.divider {
    width: 360px;
    border-bottom: 1px solid #777777;
    position: relative;
    margin-left: 2px;
    margin-top: 0px;
    display: flex;
    text-align: justify;
}

.rating{
    position: relative;
    margin-left: 290px;
    top: -120px;
	color:#000000;
    font-size: 14px;
}  

ion-button {
    --background: #FFB660;
    ion-icon {
      margin-right: 5px;
	  color:#000000;
    }
}

.synopsis {
    color: #000000;
    margin-right: 0px;
    margin-top: 35px;
    position: relative;
    font-size: 14px;
    display: flex;
    text-align: justify;
}
    
.button{
    position: relative;
    margin-right: 0px;
    margin-top: 35px;
    display: flex;
    text-align: justify;
}

.back-icon {
    position: relative;
    left: 10px;
    top: 5px;
    width: 28px;
    height: 28px;
}

.movie-name {
    color: #000000;
    margin-right: 15px;
    position: relative;
    top: 2px;
    font-size: 18px;   
}

.ratemovie {
    position: relative;
    top: 70px;
    left: 100px;
    color: black;
    font-size: 19px;
    text-decoration: underline;
}

.score {
    position: relative;
    top: 15px;
    left: 240px;
    color: black;
    font-size: 19px;

}