<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">movie</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img alt="icon" src="assets/icon/wallpaper.png" />
  </ion-card>

  <br>

  <ion-card>
    <img alt="icon" src="assets/icon/jumanji.png" />
  </ion-card>


  Jumanji - Welcome to the Jungle

  <ion-card>
    <img alt="icon" src="assets/icon/Description.png" />
  </ion-card>

  <br>
  <br>

  Four teenagers find a video game set in a tropical forest. Excited about the game, they choose their avatars for the challenge, but an unexpected event causes them to be transported into the fictional universe, transforming them into the characters of the adventure.

  <br>

  <ion-card>
    <img alt="icon" src="assets/icon/favorite.png" />
    <img alt="icon" src="assets/icon/later.png" />
  </ion-card>

  <br>

  <ion-card>
    <img alt="icon" src="assets/icon/avaliacao.png" />
  </ion-card>

</ion-content>
