<ion-header [translucent]="true">
  <ion-toolbar *ngIf = "movie">
    <ion-title slot="end" color="primary" class="movie-name">{{ movie.title }}</ion-title>
    <ion-icon name="arrow-back-outline" class="back-icon" routerLink="/tabs/tab1" color="primary"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-margin" *ngIf="movie">
    <ion-row>
      <ion-col size="4">
        <img [src]="movie.img" class="capa">
      </ion-col>
    </ion-row>
    <ion-col class="title">{{ movie.title }}</ion-col>
    <ion-row class="rating">{{ movie.rating }}</ion-row>
    <br>
    <ion-text class="duration info">{{ movie.duration }}</ion-text>
    <br>
    <!--<ion-button class="botao info" (click)="adicionarVerMaisTarde()">+ Ver mais tarde</ion-button>-->
    <ion-text class="genre info">{{ movie.category }}</ion-text>
    <br>
    <ion-text class="synopsis info">{{ movie.synopsis }}</ion-text>
  </ion-grid>
</ion-content>