.container-parent {
	display: grid;
    padding: 8px;
	text-align: center;
	justify-content: center;
    grid-template-columns: auto; 
}

.container-child {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color {
    background-color: #FFB660;
}

.login {
    color: #FFB660;
    position: relative;
    margin-left: 10px;
    margin-top: 35px;
    margin-bottom: 35px;
}