<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      <ion-button size="small" shape="round">
        <ion-icon name="globe-outline"></ion-icon>
            English
      </ion-button>      
    </ion-title>

    <ion-title color="primary">
      <img src="assets/icon/icon.png" alt="icon">
        Total Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container-parent">
      <ion-card class= "icon">
        <img alt="icon" src="assets/icon/totalMovies.png"/>
      </ion-card>
  </div>

  <div class="text">
    <p><strong>Bem vindo ao Total Movies</strong></p>
  </div>

  <div class="container-parent">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  </div>

  <div class="container-child">
    <ion-button size="big" routerLink="/tabs/tab1">Sign in</ion-button>
  </div>

  <div class="container-sign">
    <ion-card class="sign">
    <p>Não tem conta?<strong routerLink="/register">Clique aqui</strong></p>
   </ion-card>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar color="primary" >
    <ion-title class="text-center">TotalMovies © All rights reserved</ion-title>
  </ion-toolbar>
</ion-footer>