<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-title slot="end">
      <ion-button size="small" shape="round">
        <ion-icon name="globe-outline"></ion-icon>
            English
      </ion-button>      
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-thumbnail>
    <img alt="icon" src="assets/icon/totalMovies.png" />
  </ion-thumbnail>

  Welcome to Total Movie!!

  <br>

  Login to Continue


  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label position="floating">Email Address</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password"></ion-input>
    <!-- <ion-icon slot="end" name="eye-outline"></ion-icon> -->
  </ion-item>

  Remember Password

  <ion-button expand="full">Sign in</ion-button>

  Don't have an account? Click Register

  <br>

  Forgot Password? Click Here
</ion-content>

<ion-footer >
  <ion-toolbar color = "primary" >
    <ion-title class="text-center">TotalMovies © All rights reserved</ion-title>
  </ion-toolbar>
</ion-footer>