.scroll{
	flex-wrap: nowrap;
	overflow-x: scroll!important;
	overflow-y: hidden;
	margin-top: 10px;
}

.ion-margin{
	margin-top: 0px;
}

.logo{
    margin-top: 5px;
	margin-right: 10px; 
   	font-size: 20px;
    img{
        width: 20px;
        height: 20px;
    }
}

.movie-grid {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(400px, 5fr));
	grid-gap: -40px;
	padding-left: 25px;
}
  
.grid-container {
	width: 200%;
	justify-content: center;
}
  
.movie {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.board {
    position: relative;
    width: 90px;
    height: 130px;
	border-radius: 15px;
    margin-bottom: -10px;
	display: flex;
	margin-right: -8px;
	margin-left: -8px;
}

ion-button {
    --background: #FFB660;
    ion-icon {
      margin-right: 5px;
	  color:#000000;
    }
} 