<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title>
      <ion-button size="small" shape="round">
        <ion-icon name="globe-outline"></ion-icon>
            English
      </ion-button>      
    </ion-title>

    <ion-title slot="end">
      <img src="assets/icon/icon.png" alt="icon">
        Total Movies
    </ion-title>

  </ion-toolbar>
  
  <ion-searchbar search-icon="search" color="primary" placeholder="Search a movie or actor"></ion-searchbar>

  <ion-grid [fixed]="true">
    <ion-row class="container_scroll">
        <ion-button size="small">Drama</ion-button>      
        <ion-button size="small">Action</ion-button>      
        <ion-button size="small">Comedy</ion-button>      
        <ion-button size="small">Horror</ion-button>      
        <ion-button size="small">Fiction</ion-button>      
        <ion-button size="small">Animation</ion-button>      
        <ion-button size="small">Romance</ion-button>      
        <ion-button size="small">Musical</ion-button>      
        <ion-button size="small">Thriller</ion-button>      
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
