<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-title>
      <ion-button size="small" shape="round">
        <ion-icon name="globe-outline"></ion-icon>
            English
      </ion-button> 
           
    </ion-title>

    <ion-title slot="end" color="primary">
      <img src="assets/icon/icon.png" alt="icon">
        Total Movies
    </ion-title>

  </ion-toolbar>
  
  <ion-searchbar search-icon="search" color="primary" placeholder="Search a movie or actor"></ion-searchbar>

  <ion-grid [fixed]="true">
    <ion-row class="container_scroll">
        <ion-button size="small">Drama</ion-button>      
        <ion-button size="small">Action</ion-button>
        <ion-button size="small">Comedy</ion-button>      
        <ion-button size="small">Horror</ion-button>      
        <ion-button size="small">Fiction</ion-button>      
        <ion-button size="small">Animation</ion-button>      
        <ion-button size="small">Romance</ion-button>      
        <ion-button size="small">Musical</ion-button>      
        <ion-button size="small">Thriller</ion-button>      
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content [fullscreen]="true" >

  <div class="container">
      <ion-button size="small" shape="round" slot="start">Continue Watching</ion-button>      
        <ion-grid [fixed]="true">
          <ion-row class="container_scroll">
            <img src="assets/img/jumanji1.png" alt="movie">
            <img src="assets/img/jumanji2.png" alt="movie">
            <img src="assets/img/jumanji3.png" alt="movie">
            <img src="assets/img/ff7.png" alt="movie">            
            <img src="assets/img/ff8.png" alt="movie">  
            <img src="assets/img/ff.png" alt="movie">
            <img src="assets/img/impossible.png" alt="movie">
          </ion-row>
        </ion-grid>
  </div> 

  <div class="container">
        <ion-button size="small" shape="round" slot="start">Action</ion-button>      
        <ion-grid [fixed]="true">
          <ion-row class="container_scroll">
            <img src="assets/img/jumanji1.png" alt="movie">
            <img src="assets/img/jumanji2.png" alt="movie">
            <img src="assets/img/jumanji3.png" alt="movie">
            <img src="assets/img/ff7.png" alt="movie">            
            <img src="assets/img/ff8.png" alt="movie">  
            <img src="assets/img/ff.png" alt="movie">
            <img src="assets/img/impossible.png" alt="movie">
          </ion-row>
        </ion-grid>
  </div>

  <div class="container">
    <ion-button size="small" shape="round" slot="start">Adventure</ion-button>      
    <ion-grid [fixed]="true">
      <ion-row class="container_scroll">
        <img src="assets/img/jumanji1.png" alt="movie">
        <img src="assets/img/jumanji2.png" alt="movie">
        <img src="assets/img/jumanji3.png" alt="movie">
        <img src="assets/img/ff7.png" alt="movie">            
        <img src="assets/img/ff8.png" alt="movie">  
        <img src="assets/img/ff.png" alt="movie">
        <img src="assets/img/impossible.png" alt="movie">
      </ion-row>
    </ion-grid>
</div>

<div class="container">
  <ion-button size="small" shape="round" slot="start">Drama</ion-button>      
  <ion-grid [fixed]="true">
    <ion-row class="container_scroll">
      <img src="assets/img/jumanji1.png" alt="movie">
      <img src="assets/img/jumanji2.png" alt="movie">
      <img src="assets/img/jumanji3.png" alt="movie">
      <img src="assets/img/ff7.png" alt="movie">            
      <img src="assets/img/ff8.png" alt="movie">  
      <img src="assets/img/ff.png" alt="movie">
      <img src="assets/img/impossible.png" alt="movie">
    </ion-row>
  </ion-grid>
</div>
  
</ion-content>
