<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Popular Movies
    </ion-title>

    <ion-title slot="end" color="primary">
      <img src="assets/icon/icon.png" alt="icon">
        Total Movies
    </ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row *ngFor="let movie of dataMovies | keyvalue" class="ion-margin">
      <ion-col>{{ movie.value.img }}</ion-col> 
      <ion-col size="10"><ion-text color="primary">{{ movie.value.release_year }}</ion-text></ion-col>
      <ion-col size="2"><ion-text color="medium" class="ion-float-right"><small>{{ movie.value.imdb_rating }}</small></ion-text></ion-col>
      <ion-col size="12"> {{ movie.value.title }}</ion-col>
      <ion-col size="2"><ion-text color="medium" class="ion-float-left"><small>{{ movie.value.category }}</small></ion-text></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
