<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-title slot="start" color="primary" class="logo">
        Procure um filme
    </ion-title>

    <ion-title color="primary" class="logo">
      <img src="assets/icon/icon.png" alt="icon">
        Total Movies
    </ion-title>
    
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <ion-icon name="search-outline" class="icon" (click)="search()"></ion-icon>
  <input type="text" placeholder="Procure usando um membro do elenco" class="search-bar" [(ngModel)]="search1">

  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col>
        <h2 *ngIf="foundMovies.length > 0" class="result">Resultados da pesquisa: {{ search1 }}</h2>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let movie of foundMovies" (click)="goMovie(movie)">
      <ion-col size="4">
        <img *ngIf="movie.img" [src]="movie.img" class="board">
      </ion-col>
        <ion-col size="10"><ion-text class = "release">{{ movie.release_year }}</ion-text></ion-col>
        <ion-col size="20" class = "title"> {{ movie.title }}</ion-col>
        <ion-col size="2" class = "genre"><ion-text class="ion-float-left"><small>{{ movie.genre }}</small></ion-text></ion-col>
        <ion-col size="2" class = "rating"><ion-text color="medium" class="ion-float-left"><small>{{ movie.rating }}</small></ion-text></ion-col>
        <div class="divider"></div>
    </ion-row>
    <ion-row *ngIf="foundMovies.length === 0">
      <ion-col>
        <p class="result">Lista vazia | Tente novamente</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
