.toolbar {
    --background: #000000;
    height: 120px;
}

.ion-margin{
    margin-top: 15px;
    margin-bottom: -105px;
}

.logo{
    margin-top: 5px;
}

.title{
    position: relative;
    top: -130px;
    margin-left: 110px;
    color: #000000;
    font-size: 15px;
}

.genre{
    position: relative;
    top: -130px;
    margin-left: 110px;
    color: #7e7e7e;
    font-size: 18px;
}

.release{
    position: relative;
    top: -101px;
    left: 300px;
    color: #FFB660;
    font-size: 14px;
}

.rating{
    position: relative;
    top: -130px;
    left: 135px;
    font-size: 18px;
}

.icon {
    top: -3px;
    position: relative;
    right: -320px;
    color: #FFB660;
    width: 24px;
    height: 24px;
}

.search-bar {
    margin-top: 30px;
    position: relative;
    left: 82px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    top: -10px;
    font-size: 14px;
    background-color: #FFB660;
    border-color: #000000;
}

input.search-bar {
    padding-left: 15px;
}

.result{
    color: #000000;
    font-size: 24px;
    position: relative;
    top: -20px;
    left: 14px;
    margin-top: 5px;
    margin-left: -30px;
    text-align: center;
}

.board {
    position: relative;
    width: 120px;
    height: 160px;
    border-radius: 15px;
    margin-bottom: -50px;
    margin-left: -10px;
}

.divider {
    width: 360px;
    border-bottom: 1px solid #777777;
    position: relative;
    margin-left: 2px;
    margin-bottom: 40px;
    display: flex;
    text-align: justify;
}