/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

:root {
	--ion-color-primary: #FFB660;
	--ion-color-primary-rgb: 255,182,96;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #e0a054;
	--ion-color-primary-tint: #ffbd70;

	--ion-color-secondary: #292724;
	--ion-color-secondary-rgb: 41,39,36;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #242220;
	--ion-color-secondary-tint: #3e3d3a;

	--ion-color-tertiary: #252836;
	--ion-color-tertiary-rgb: 255,182,96;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #e0a054;
	--ion-color-tertiary-tint: #ffbd70;
}

ion-button {
    --background: #FFB660;
    ion-icon {
      margin-right: 10px;
	  color:#000000;
    }
}

.text-center{
	display: flex;
	text-align: center;
	font-size: 16px;
}