.logo{
    margin-top: 5px;
    margin-left: 2px;
    font-size: 22px;
    img{
        width: 24px;
        height: 24px;
    }
}

.trash{
    color: red;
    margin-right: 10px;
}

.board{
    width: 120px;
    height: 180px;
    margin-top: 15px;
    border-radius: 100px;
    position: relative;
    margin-left: 1px;
    .img{
        border-radius: 15px;
    }
}

.title{
    position: relative;
    color: #000000;
    font-size: 14px;
}

.genre{
    position: relative;
    color: #7e7e7e;
    font-size: 14px;
    top: -32px;
}

.release{
    position: relative;
    color: #FFB660;
    top: 23px;
    font-size: 14px;
}

.rating{
    position: relative;
    font-size: 14px;
    left: 70px;
    top: 12px;
}