<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-title slot="start" color="primary" class="logo">
      Watch Later Playlist
    </ion-title>

    <ion-title color="primary" class="logo">
      <img src="assets/icon/icon.png" alt="icon">
      Total Movies
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-list>
    <ion-item *ngFor="let movie of watchLaterMovies">
      <ion-thumbnail slot="start" (click)="goMovie(movie)">
        <img [src]="movie.img" alt="movie board">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ movie.title }}</h2>
      </ion-label>
      <ion-icon name="trash-outline" class="trash" (click)="removeMovie(movie)"></ion-icon>
    </ion-item>
  </ion-list>
  
</ion-content>
